.giftsWrapper {
  min-height: 50px;
  display: flex;
  column-gap: 12px;
}

.followersPresent__latestGift {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 100px;
  height: auto;
  position: relative;
  justify-content: center;
  padding: 0 8px;
  min-width: 100px;
}
.followersPresent__latestGift:first-of-type {
  margin-left: 12px;
}
.followersPresent__latestGift__avatar {
  width: 26px;
  aspect-ratio: 1;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 3px;
  border: 1px solid #f22c56;
  display: flex;
  justify-content: center;
}

.followersPresent__latestGift__avatar__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
}

.followersPresent__latestGift__info {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 4px;
}
.followersPresent__latestGift__info__name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 9px;
  color: #c7c7c7ff;
  white-space: nowrap;
}
.followersPresent__latestGift__info__instruction {
  margin-top: -4px;
  font-size: 9px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  white-space: nowrap;
  width: fit-content;
}
