.likes_wrapper {
  display: flex;
  justify-content: space-between;
  /* row-gap: 8px; */
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.noLikes__wrapper {
  padding: 12px 14px;
  width: fit-content;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 12px;
}

.noLikes__instruction {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #c8c8c8ff;
}

.noLikes__instruction__list {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  color: #c8c8c8ff;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.noLikes__instruction__list__likes {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.noLikes__instruction__list__likes__img {
  width: 18px;
  height: 18px;
}

.noLikes__instruction__list li {
  margin-bottom: 6px;
}

.leaderBoard {
  border-radius: 4px;
  /* padding: 0 6px; */
  padding-top: 4px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  height: fit-content;
  /* z-index: 100000; */
}

.leaderBoard__list {
  width: 100%;
}

.leaderBoard__user {
  /* margin-bottom: 6px; */
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  padding-right: 12px;
}

.leaderBoard__user__avatar {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #ddd9d9ff;
}

.leaderBoard__user__info {
  display: flex;
  row-gap: 2px;
  flex-direction: column;
  width: 100px;
  overflow: hidden;
  /* padding-right: 10px; */
}

.leaderBoard__user__info__username {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ddd9d9ff;
  white-space: nowrap;
}

.leaderBoard__user__info__likesCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
  margin-top: -4px;
}

.leaderBoard__user__info__likesCount__value {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 9px;
  color: #ffffff;
  margin-top: -4px;
}

.likes_wrapper__followsAndShares {
  margin-top: -3px;
}
