.home_wrapper {
  height: 100%;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-end;
}

.wrapper__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background-color: black;
  padding-bottom: 6px;
}

.wrapper__inner__chatTurnedOff {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  display: none;
}

.wrapper__inner__chatTurnedOff__instruction {
  font-size: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.sectionTwo {
  column-gap: 7px;
  padding-bottom: 19px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.sectionTwo_A {
  flex: 1;
  row-gap: 4px;
  height: 100%;
}

.sectionTwo_B {
  flex: 1;
  row-gap: 8px;
  height: 100%;
  overflow: hidden;
}

.newFollower {
  padding: 12px 8px;
  padding-bottom: 3px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  border-radius: 100px;
}

.newFollower__icon {
  width: 28px;
}

.newFollower__progress_wrapper {
  flex: 1;
  row-gap: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.newFollower__progress_visual {
  height: 5px;
  background-color: #ffffff;
  border-radius: 100px;
}

.newFollower__progress__active {
  background-color: #f22c56;
  height: 100%;
  border-radius: 100px;
}

.newFollower__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  align-items: center;
}

.newFollower__text {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
}

.newFollower__textSeparator {
  height: 1em;
  width: 2px;
  background-color: #ffffff;
  border-radius: 100px;
}

.followersPresent__latestFollower {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  /* margin-top: 3px; */
  margin-bottom: 6px;
  margin-left: 6px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-radius: 100px;
  height: auto;
  /* padding: 4px; */
  position: relative;
}
.followersPresent__latestFollower__avatar {
  width: 26px;
  aspect-ratio: 1;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 3px;
  border: 1px solid #f22c56;
}
.followersPresent__latestFollower__avatar__icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
}
.followersPresent__latestFollower__info {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100px;
  row-gap: 4px;
}
.followersPresent__latestFollower__info__name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 9px;
  color: #c7c7c7ff;
  white-space: nowrap;
}
.followersPresent__latestFollower__info__instruction {
  margin-top: -4px;
  font-size: 9px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  /* font-style: italic; */
}
