.home_wrapper {
  height: 100%;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-end;
}

.wrapper__inner {
  height: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background-color: black;
  padding-bottom: 6px;
}

.wrapper__inner__chatTurnedOff {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  display: none;
}

.wrapper__inner__chatTurnedOff__instruction {
  font-size: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.sectionTwo {
  column-gap: 7px;
  padding-bottom: 19px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.sectionTwo_A {
  flex: 1;
  row-gap: 4px;
  height: 100%;
}

.sectionTwo_B {
  flex: 1;
  row-gap: 8px;
  height: 100%;
  overflow: hidden;
}
