.home_wrapper {
  height: 100%;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-end;
}

.wrapper__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background-color: black;
  padding-bottom: 6px;
}

.wrapper__inner__chatTurnedOff {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  display: none;
}

.wrapper__inner__chatTurnedOff__instruction {
  font-size: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.sectionTwo {
  column-gap: 7px;
  padding-bottom: 19px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.sectionTwo_A {
  flex: 1;
  row-gap: 4px;
  height: 100%;
}

.sectionTwo_B {
  flex: 1;
  row-gap: 8px;
  height: 100%;
  overflow: hidden;
}

.totalLikes {
  padding: 12px 8px;
  padding-bottom: 3px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  border-radius: 100px;
}

.totalLikes__icon {
  width: 24px;
}

.totalLikes__progress_wrapper {
  flex: 1;
  row-gap: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.totalLikes__progress_visual {
  height: 5px;
  background-color: #ffffff;
  border-radius: 100px;
}

.totalLikes__progress__active {
  background-color: #f22c56;
  height: 100%;
  border-radius: 100px;
}

.totalLikes__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  align-items: center;
}

.totalLikes__text {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
}

.totalLikes__textSeparator {
  height: 1em;
  width: 2px;
  background-color: #ffffff;
  border-radius: 100px;
}

.newFollowers_count {
  display: flex;
  align-items: center;
  color: white;
  column-gap: 6px;
  font-family: "Popppins", sans-serif;
  font-weight: bold;
  font-size: 11px;
  margin-top: 24px;
}

.newFollowers_count__value {
  font-size: 20px;
  display: flex;
  column-gap: 4px;
}

.newFollowers_count__value__separator {
  width: 3px;
  height: 25px;
  background-color: white;
}
